# built application directory
.build/
.dist/
store/
nbproject/
src/tests/

# test directory
test/

# file types
*.txt
*.doc
*.xls

# especific files
src/data/DataBaseInput.java
src/gui/FrameTest.form
src/gui/FrameTest.java
