# built application directory
.build/
.dist/
store/*
nbproject/*
apps/*
apps/
nbproject/

# src/tests/
# src/deprecated/

# test directory
test/

# file types
*.txt
*.doc
*.xls
*.jar

# especific files
src/data/DataBaseInput.java
src/gui/FrameTest.form
src/gui/FrameTest.java
